{% extends 'base.html' %}
{% load static %}

{% block title %}
    Beauty saloon "Glory"
{% endblock title %}

{% block center %}
    <img height="170px"
                  src="{% static 'img/img-1.jpg' %}"
                  alt="eye-1">
    <img height="170px"
                  src="{% static 'img/img-2.jpg' %}"
                  alt="eye-2">
    <img height="170px"
                  src="{% static 'img/img-3.jpg' %}"
                  alt="eye-3">
    <img height="170px"
                  src="{% static 'img/img-4.jpg' %}"
                  alt="eye-4">
    <img height="170px"
                  src="{% static 'img/img-5.jpg' %}"
                  alt="eye-5">
    <img height="170px"
                  src="{% static 'img/img-6.jpg' %}"
                  alt="eye-6">
    <img height="170px"
                  src="{% static 'img/img-7.jpg' %}"
                  alt="eye-7">
    <img height="170px"
                  src="{% static 'img/img-8.jpg' %}"
                  alt="eye-8">
{% endblock center %}

{% block content %}
    <div id="title">
        Нужна модель
    </div>
    <div class="text_24">
        обращаться по телефону <br>
        +372 654 6546
    </div>
{% endblock content %}
